@page
@model Kindergarten.Pages.Kindergartens.IndexModel
@{
}

<br />
<h2>List of Kindergartens</h2>
<a class="btn btn-primary btn-sm" href="/Kindergartens/Create">New Kindergarten</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>GroupName</th>
            <th>ChildrenCount</th>
            <th>KindergartenName</th>
            <th>Teacher</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listKindergartens)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.GroupName</td>
                <td>@item.ChildrenCount</td>
                <td>@item.KindergartenName</td>
                <td>@item.Teacher</td>
                <td>@item.CreatedAt</td>
                <td>@item.UpdatedAt</td>
                <td>
                    <a class ="btn btn-primary btn-sm" href="/Kindergartens/Edit?Id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Kindergartens/Delete?Id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>